.row
  .span8
    %section
      %header
        %h2
          = t :my_messages

      .content
        - @messages.group_by(&:canteen).each do |canteen, allMessages|
          %h3= "#{canteen.name}"
          %p="url: #{canteen.url}"
          %table
            - allMessages.group_by { |m| [m.type, m.data ] }.each do |d, messages|
              - messages.sort_by!(&:created_at)
              %tr
                %td=l messages.first.created_at, format: :short
                %td=l messages.last.created_at, format: :short
                %td= messages.size
              %tr
                %td{colspan: 3}
                  =messages.first.to_html

  = render partial: 'users/nav'
