
.centered
  %h2 Sign in with
  %p
    = link_to auth_path(:twitter), class: 'button button-login button-social button-twitter' do
      %i.icon-twitter-sign.icon-large
      Twitter
    = link_to auth_path(:facebook), class: 'button button-login button-social button-facebook' do
      %i.icon-facebook-sign.icon-large
      Facebook
    = link_to auth_path(:google), class: 'button button-login button-social button-google-plus' do
      %i.icon-google-plus-sign.icon-large
      Google+
    = link_to auth_path(:github), class: 'button button-login button-social button-github' do
      %i.icon-github-sign.icon-large
      GitHub
    = link_to auth_path(:linkedin), class: 'button button-login button-social button-linkedin' do
      %i.icon-linkedin-sign.icon-large
      LinkedIn &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %span (No Password Required)
