- if day.nil?
  %li
    %h3= t(:no_meals_title)
    %p= t(:no_meals_message)
- elsif day.closed?
  %li
    %h3= t(:closed_day_title)
    %p= t(:closed_day_message)
- else
  - day.meals.group_by(&:category).each do |category, meals|
    %li
      %h3= category
      - meals.each do |meal|
        %div.meal
          %p= meal.name
          - if meal.prices.size > 0
            %dl
              - meal.prices.each do |role,price|
                %dt=t :"price_roles.#{role}"
                %dd=number_to_currency(price, uni: '€')
          - if meal.notes.size > 0
            %ul
              - meal.notes.each do |note|
                %li=note.name
