.row
  .span8
    %section
      %header
        %h2= t :edit_canteen
      .content
        = form_for [@user, @canteen] do |f|
          %p
            = f.label :url, t(:canteen, :url)
            = f.text_field :url
          %p
            = f.label :name, t(:canteen, :name)
            = f.text_field :name
          %p
            = f.label :address, t(:canteen, :address)
            = f.text_field :address
          .row
            .span6
              %p
                = f.label :address, t(:canteen, :latitude_and_longitude)
                = f.text_field :latitude, readonly: true
                = f.text_field :longitude, readonly: true
            .span6
              %p
                %label.icon-comment-alt
                  = t :canteen, :map_marker
                = t :notice, :map_marker
          %div.map#map{ data: { sync: "true", lat: '#canteen_latitude', lng: '#canteen_longitude' } }
          %p
            = submit_tag t(:save)

  = render partial: 'users/nav'
