.row
  .span8
    %section
      %header
        %h2
          = t :my_canteens
          %ul.actions
            %li
              = link_to '', new_user_canteen_path(@user), title: t(:add_canteen), class: 'icon-plus-sign'

      .content
        - if @canteens.any?
          %table
            - @canteens.each do |c|
              %tr
                %td=c.name
                %td=c.address
                %td.actions
                  = link_to edit_user_canteen_path(@user, c), title: t(:edit_canteen) do
                    %i.icon-pencil
        - else
          %p.add_notice= t :notice, :no_canteens


  = render partial: 'users/nav'
