
.section
  %header
    %h1= @canteen.name

  %section
    %header.page-header
      %a.prev
        %span
      %a.next
        %span
      %h2.centered
        - if @canteen.meals.today.first.date.to_date == Time.zone.now.to_date
          = "Today"
        - else
          = l @canteen.meals.today.first.date.to_date, format: :long
    %ul.meals
      - @canteen.meals.today.group_by(&:category).each do |category, meals|
        %li
          %h3= category
          - meals.each do |meal|
            %p= meal.name

= content_for :aside do
  .section
    %section
      %header.header
        %h2 Blub
