%div.identity{class: identity.provider}
  - if @user.identities.count > 1
    = link_to '×', user_identity_path(@user, identity), method: :destroy, class: 'destroy'
  %i{class: "icon-#{identity.provider}-sign"}
  %span.provider= t "service.#{identity.provider}"
  %span.uid= identity.uid
