.span4
  %section
    %header
      %h2= t :settings
    %ul.content.nav
      %li
        = link_to t(:my_profile), user_path(@user)
      %li
        = link_to t(:my_favorites), '#' #user_favorites_path(@user)
  - if @user.developer?
    %section
      %header
        %h2= t :developer
      %ul.content.nav
        %li= link_to t(:my_canteens), user_canteens_path(@user)
        %li= link_to t(:my_messages), user_messages_path(@user)
