
.section
  = map Canteen.all

  %section
    %header.header
      %h1 OpenMensa - deine Mensa direkt bei dir!
    .content
      %p
        OpenMensa ist die kostenfreie Datenbank für Mensen und Cafeterien im
        deutschsprachigen Raum.
      %p
        Ein junges, dynamisches Studententeam treibt die Entwicklung der Plattform,
        der öffentlichen API sowie der Referenz-Implementierung stetig voran, um
        Dir auch aktuellste Social Features anbieten zu können.
      %p
        %i
          "Mittels universellem Handyclient für Android, Windows Phone 7, Symbian, Blackberry
          und iOS ist dein Mittagessen immer in deiner Nähe!"
      %p
        Unsere Features:
      %ul
        %li Was gibt es zu essen?
        %li
          %i Wo ist die nächste Mensa?
        %li
          %i Wieviel kostet das Essen?
        %li
          %i Wie gut ist das Essen in Mensa xy?
      %i
        (Kursiv gedruckte Features sind noch nicht vollständig implementiert)
      %p
        Aktuell gelistete Mensen:
        %strong
          Berlin, Jena, Potsdam

= content_for :aside do
  .section
    %section
      %header.header
        %h2 Download OpenMensa App
      .android.available
        = link_to "http://mycrobase.de/wtf/OpenMensa-20120712-1254.apk" do
          %span OpenMensa Alpha
          for Android
          = image_tag "https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=http://mycrobase.de/wtf/OpenMensa-20120712-1254.apk", class: :qr
      .ios
        = link_to "#" do
          %span Comming soon.
      .wphone
        = link_to "#" do
          %span Comming soon.
      .bb
        = link_to "#" do
          %span Comming soon.
