!!!
%html
  %head
    %title= title
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tags
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => "http://blog.altimos.de/category/openmensa/feed/", :rel => "alternate", :title => "OpenMensa Blog (Atom)", :type => "application/atom+xml"}
    = favicon_link_tag
    = yield :header_tags

  %body{:class => body_classes }
    %header#header
      %h1
        = link_to "OpenMensa", root_path
      %ul.actions
        - if current_user.logged?
          %li
            = link_to '#', title: t(:my_favorites) do
              %i.icon-star
          %li
            = link_to logout_path, title: t(:logout) do
              %i.icon-signout
          %li
            = link_to user_path(current_user.id), title: t(:my_profile), class: :account do
              = avatar
        - else
          %li
            = link_to '#', title: t(:my_favorites) do
              %i.icon-star
          %li
            = link_to login_path, title: t(:login) do
              %i.icon-signin
        .clear
    %section#content
      = render partial: "common/flash", object: flash
      - if content_for? :notifications
        = yield :notifications
      = yield
      %footer#footer
        .row
          .span8
            %p
              © 2012 OpenMensa
              &nbsp;&middot;&nbsp;
              = link_to 'Impressum', static_path(:impressum)
              &nbsp;&middot;&nbsp;
              = link_to 'Blog', 'https://blog.altimos.de/category/openmensa'
              &nbsp;&middot;&nbsp;
              = link_to 'Developer', static_path(:developer)

    = javascript_include_tag "application"
